body
{
    margin: 0;
    font-family: Roboto;
}
/*=====================================
                CLASSES
=======================================*/
.header
{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.header-left
{
    display: flex;
    align-items: center;
}

.header-right
{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-logo
{
    font-weight: 900;
    font-size: 24px;
}

.header-link
{
    text-decoration: none;
    color: #F9FAF8;
}

.content
{
    display: flex;
    flex-direction: column;
}

.footer
{
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer-container
{
    padding: 32px;
    display: flex;
    justify-content: center;
}
/*=====================================
            SMALL SCREEN SIZES
=======================================*/
@media screen and (max-width: 600px)
{
    .header
    {
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .header-right
    {
        gap: 100px;
    }
}
@media screen and (max-width: 450px)
{
    .header-right
    {
        gap: 50px;
    }
}