body
{
    margin: 0;
    font-family: Roboto;
}

/*=====================================
                CLASSES
=======================================*/
.header-container
{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.header-left
{
    display: flex;
    align-items: center;
}

.header-right
{
    display: flex;
    align-items: center;
}

.header-logo
{
    font-weight: 700;
    font-size: 24px;
}