/*=====================================
                CLASSES
=======================================*/
.hero-section
{
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 500px;
    height: 0%;
    display: flex;
    justify-content: center;
}

.hero-container
{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-left
{
    min-width: 300px;
    width: 0%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.hero-right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-button
{    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 900;
    font-size: 24px;
}

.goal-section
{
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: #F9FAF8;
    color: #1F2937;
    min-height: 500px;
    height: 0%;
    display: flex;
    justify-content: center;
}

.goal-container
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.goal-top
{
    display: flex;
    justify-content: center;
}

.goal-bottom
{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.goal
{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-section
{

    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container
{
    padding: min(100px, 6%);
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.call-to-action
{
    box-sizing: border-box;
    padding: 32px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container
{
    box-sizing: border-box;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: min(100px, 6%);
    padding-right: min(100px, 6%);
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 16px 150px;
    flex-wrap: wrap;
}

.call-to-action-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.call-to-action-right
{
    display: flex;
    align-items: center;
}

.call-to-action-button
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: 2.5px solid #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 900;
    font-size: 24px;
}
/*=====================================
                    IDS
=======================================*/
#hero-main-text
{
    font-size: clamp(24px, 10vw, 48px);
    font-weight: 900;
    margin: 0;
}

#hero-sub-text
{
    font-size: 18px;
    line-height: 1.30;
    color: #E5E7EB;
    margin: 0;
}

#goal-main-text
{
    font-size: clamp(18px, 10vw, 36px);
    font-weight: 900;
    margin: 0;
}

#goal-sub-text
{
    font-size: 18px;
    line-height: 1.30;
    margin: 0;
    text-align: center;
}

#hero-image
{
    display: flex;
    flex: initial;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: 10px;
}

#goal-image
{
    box-sizing: border-box;
    max-width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

#quote
{
    margin: 0;
    font-size: clamp(18px, 7.5vw, 36px);
    font-weight: 300;
    line-height: 1.30;
    font-style: italic;
}

#quote-tag
{
    margin-bottom: 0;
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 900;
    text-align: end;
}

#call-to-action-main-text
{
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#call-to-action-sub-text
{
    font-size: 18px;
    margin: 0;
}

/*=====================================
            SMALL SCREEN SIZES
=======================================*/
@media screen and (max-width: 931px)
{
    .hero-left
    {
        width: 500px;
        padding-left: 32px;
        padding-right: 32px;
        align-items: center;
    }

    #hero-main-text,
    #hero-sub-text
    {
        text-align: center;
    }
}