/*=====================================
                CLASSES
=======================================*/
.hero-section
{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero-left
{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.hero-right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-button
{    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 900;
    font-size: 24px;
}

.goal-section
{
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: #F9FAF8;
    color: #1F2937;
    min-height: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.goal-top
{
    display: flex;
    justify-content: center;
}

.goal-bottom
{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.goal
{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-section
{
    min-height: 400px;
    height: 400px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container
{
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.call-to-action
{
    max-height: 300px;
}
/*=====================================
                    IDS
=======================================*/
#hero-main-text
{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

#hero-sub-text
{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

#goal-main-text
{
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

#goal-sub-text
{
    font-size: 18px;
    margin: 0;
    text-align: center;
}

#hero-image
{
    max-width: 500px;
    aspect-ratio: 4 / 2;
    object-fit: cover;
}

#goal-image
{
    box-sizing: border-box;
    max-width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

#quote
{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#quote-tag
{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}