/*=====================================
                CLASSES
=======================================*/
.hero-section
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 500px;
    height: 500px;
    display: flex;
    gap: 32px;
}

.hero-button
{    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 900;
    font-size: 24px;
}
/*=====================================
                    IDS
=======================================*/
#hero-main-text
{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

#hero-sub-text
{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

#hero-image
{
    max-width: 500px;
    aspect-ratio: 4 / 2;
    object-fit: cover;
}